
<div class="form-row" fxLayout="row">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [formControl]="timeTrialDateControl" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div class="form-row" fxLayout="row">
  <mat-form-field>
    <mat-label>Distance</mat-label>
    <input matInput
           type="number"
           [formControl]="timeTrialDistanceControl"
           placeholder="distance">
    <div matSuffix>km</div>
  </mat-form-field>
</div>
<div class="form-row" fxLayout="row">
  <mat-form-field>
    <mat-label>Timers</mat-label>
    <mat-select [formControl]="timeTrialTimersControl">
      <mat-option [value]="TimerCount.one">One</mat-option>
      <mat-option [value]="TimerCount.two">Two</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-around">
  <button mat-raised-button color="warn" (click)="cancel.emit()">Cancel</button>
  <button mat-raised-button color="accent" [disabled]="timeTrialGroup.invalid" (click)="completeForm()">Submit</button>
</div>
