:host {
  height: 100%;
  flex: 1 1;
}

mat-card {
  overflow: hidden;
  & > div.rental-list {
    border: 1px solid black;
    border-radius: 3px;
    overflow: overlay;
    position: relative;

    & > .rental {
      border: 1px solid lightgrey;
      border-radius: 3px;
      padding: 10px;
    }
  }
}

button.mat-fab {
  position: absolute;
  bottom: 5em;
  right: 5em;
}

