<div class="time-trials">
  <mat-card *ngFor="let time_trial of time_trials$ | async" class="time-trial" fxLayout="row">
    <div fxLayout="column" fxFlex="0 1 100%" class="details">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div *ngIf="time_trial.date; let date">{{ date | date: 'longDate':'utc' }}</div>
        <div>
          <button mat-icon-button [routerLink]="time_trial.id + '/edit'">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button [routerLink]="time_trial.id + '/boats'">
            <mat-icon matBadgeSize="medium" [matBadge]="(getBoatsForTimeTrial(time_trial) | async).length">list</mat-icon>
          </button>

          <button mat-icon-button [routerLink]="time_trial.id">
            <mat-icon>timer</mat-icon>
          </button>
        </div>
      </div>
      <div fxLayout="row" class="seperator"></div>
      <div fxLayout="row"  fxLayoutAlign="space-between">
        <div *ngIf="time_trial?.distance != null">
          <b>Distance:</b>
          {{ time_trial.distance }} km
        </div>
        <div *ngIf="time_trial?.timers != null">
          <b>Timers:</b>
          {{ time_trial.timers }}
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="time-trial placeholder"></mat-card>
  <mat-card class="time-trial placeholder"></mat-card>
  <mat-card class="time-trial placeholder"></mat-card>
</div>

<button class="create-button" routerLink="new" mat-fab>
  <mat-icon>add</mat-icon>
</button>
