:host {
  display: flex;
  flex: 0 1 100%;
}

.time-trials {
  width: 100%;
  padding: 10px;
  background: lightgrey;
  overflow: scroll;

  & > mat-card {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > .time-trial {
    &.placeholder {
      min-height: 50px;
      visibility: hidden;
    }

    & div {
      margin-top: auto;
      margin-bottom: auto;
    }

    & > .details {
      & > .seperator {
        height: 1px;
        width: 100%;
        background: lightgrey;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
  }
}

.create-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
