:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0 10px;
  background: lightgrey;
}

.mat-card {
  padding: 10px;
}

.clickable {
  cursor: pointer;
}

.timer {
  margin: auto;
}

.boat-info-container {
  border: 1px solid;
  & > .boats-container {
    & > .boats-list {
      overflow: hidden;

      & > .boat {
        border: 1px solid;

        &.selected {
          background: lightgrey;
        }
      }
    }
  }
}


.snapshots {
  margin-top: 5px;
  border: 1px solid;

  & > .snapshot {
    &.used {
      text-decoration: line-through;
      cursor: default;
    }

    &.selected {
      background: lightgrey;
    }
  }

  & > .arrows {
    border-radius: 3px;
    border: 1px solid lightgrey;
  }
}

.delete {
  @extend .clickable;
  padding: 1px;
  margin: 1px;
  color: red;
}

.example-list {
  max-width: 100%;
  border: solid 1px #ccc;
  height: 100%;
  min-height: 30px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow-y: scroll;

  &.no-scroll {
    overflow: hidden;

    & > .snapshot {
      border-bottom: none;
    }
  }
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 25px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-list-label {
  width: 40px;
  margin: auto;
}

.dot-container {
  display: flex;
  margin: auto;

  & > .dot {
    border: 1px solid;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin: 3px;

    &.selected {
      background: black;
    }
  }
}

.remove-snapshot-icon {
  height: auto;
  width: auto;
  font-size: large;
}
