
<div *ngLet="selected_rental$ | async; let rental" fxFlex="1 1 100%" fxLayout="column">
  <mat-card fxFlex="1 1 0" fxLayout="column" [formGroup]="rentalForm">
    <h4>Rental</h4>
    <mat-form-field appearance="outline">
      <mat-label>Shell</mat-label>
      <mat-select formControlName="shell_id">
        <mat-option *ngFor="let shell of shells$ | async" [value]="shell.id">{{ shell.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Out Time</mat-label>
      <input matInput disabled [value]="rentalForm.get('out_time').value | date: 'short'">
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button
              [disabled]="!rentalForm.dirty"
              fxFlex fxLayout="column"
              (click)="updateRental()"
              color="primary">
        Save
      </button>
      <button mat-raised-button
              [disabled]="!rentalForm.dirty"
              fxFlex fxLayout="column"
              (click)="resetForm(rental)"
              color="warn">
        Cancel
      </button>
    </div>
  </mat-card>

  <app-rental-rower-list fxFlex="1 1" fxLayout="column"></app-rental-rower-list>
</div>

<button mat-fab (click)="addRentalRower()">
  <mat-icon>add</mat-icon>
</button>
