<div fxFlex fxLayout="column">
  <app-group-edit fxFlex="1 1 0%" fxLayout="row"></app-group-edit>
  <mat-tab-group fxFlex="1 1" fxLayout="column">
    <mat-tab label="Shells">
      <app-shell-list fxFlex="1 1" fxLayout="row"></app-shell-list>
    </mat-tab>
    <mat-tab label="Rowers">
      // TODO: Group Rower Rel
      <!--app-rower-list fxFlex="1 1" fxLayout="row"></app-rower-list-->
    </mat-tab>
    <mat-tab label="Sub-Groups">
      <app-group-list fxFlex="1 1" fxLayout="row"></app-group-list>
    </mat-tab>
  </mat-tab-group>
</div>
